extends shared/main-shared.pug

block content
  if !userProfile
    h1 User not found
  else
    script.
      const userProfileId = '!{ userProfile._id }';
      const selectedTab = '!{ selectedTab }';
    
    - followersTotal = userProfile.followers.length;
    - followingTotal = userProfile.following.length;

    .profileHeaderContainer
      .coverPhotoSection
        .coverPhotoContainer
          if userProfile.coverPhoto
            img(src=userProfile.coverPhoto, alt="Cover photo")

          if userProfile._id == loggedInUser._id
            button.coverPhotoButton(
              data-toggle="modal",
              data-target="#coverUploadModal"
            )
              i.fas.fa-image
        .userPhotoContainer
          img(src=userProfile.profilePhoto, alt="User profile image")
          if userProfile._id == loggedInUser._id
            button.profilePhotoButton(
              data-toggle="modal",
              data-target="#imageUploadModal"
            )
              i.fas.fa-image
      .profileButtonsContainer
        if userProfile._id != loggedInUser._id
          a.profileButton(href=`/messages/${userProfile._id}`)
            i.far.fa-comment

          - const userProfileId = userProfile._id.toString();
          - if (loggedInUser.following.includes(userProfileId))
            +createFollowButton(userProfile, true)
          - else
            +createFollowButton(userProfile, false)

      .followersContainer
        .username #{userProfile.username}
        span.followingInfo
          a(href=`/profile/${userProfile.username}/following`)
            span.value #{followingTotal}
            span.txt Following
        span.followersInfo
          a(href=`/profile/${userProfile.username}/followers`)
            span#followersTotal.value #{followersTotal}
            span.txt Followers
    .tabsContainer
      +createTab("Posts", `/profile/${userProfile.username}`, selectedTab === "replies" ? false : true)
      +createTab("Replies", `/profile/${userProfile.username}/replies`, selectedTab === "replies" ? true : false)

    .postsContainer

    +createPostModals(loggedInUser)
    +imageUploadModal
    +coverUploadModal

block scripts
  script(src="/js/profile.js")
