mixin createPostForm(loggedInUser)
  .postFormContainer 
    .userPhotoContainer
      img(src=loggedInUser.profilePhoto, alt="User image")
    .textareaContainer
      textarea#postTextarea(placeholder="Share your story!")
      .buttonsContainer
        button#submitPostButton(disabled="") Send

mixin createReplyModal(loggedInUser)
  #replyModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="replyModalLabel",
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#replyModalLabel.modal-title Modal title
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          #clickedPostContainer
          .postFormContainer 
            .userPhotoContainer
              img(src=loggedInUser.profilePhoto, alt="User image")
            .textareaContainer
              textarea#replyTextarea(placeholder="Share your story!")
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close
          button#submitReplyButton.btn.btn-primary(type="button", disabled="") Reply

mixin deletePostModal
  #deletePostModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="deletePostModalLabel",
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#deletePostModalLabel.modal-title Delete post
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p Are you sure?
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close
          button#deletePostButton.btn.btn-primary(type="button") Delete

mixin imageUploadModal
  #imageUploadModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="imageUploadModalLabel",
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#imageUploadModalLabel.modal-title Upload Photo
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          input#fileUpload(type="file", name="fileUpload", accept="image/*")
          .imagePreviewContainer
            img#imagePreview
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
          button#uploadImageButton.btn.btn-primary(type="button") Save

mixin coverUploadModal
  #coverUploadModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="coverUploadModalLabel",
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#coverUploadModalLabel.modal-title Upload Photo
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          input#coverUpload(type="file", name="fileUpload", accept="image/*")
          .imagePreviewContainer
            img#coverPreview
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
          button#coverImageButton.btn.btn-primary(type="button") Save

mixin pinPostModal
  #pinPostModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="pinPostModalLabel",
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#pinPostModalLabel.modal-title Pin Post
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p Are you sure?
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
          button#pinPostButton.btn.btn-primary(type="button") Save

mixin unpinPostModal
  #unpinPostModal.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="unpinPostModalLabel",
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#unpinPostModalLabel.modal-title Unpin Post
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p Are you sure?
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
          button#unpinPostButton.btn.btn-primary(type="button") Save

mixin createPostModals(loggedInUser)
  +createReplyModal(loggedInUser)
  +deletePostModal 
  +pinPostModal
  +unpinPostModal

mixin createFollowButton(user, isFollowing)
  - option = isFollowing ? 'Following' : 'Follow';
  - buttonClass = isFollowing ? 'followButton following' : 'followButton';
  button(class=buttonClass, data-user=user._id) #{option}

mixin createTab(name, href, isSelected)
  - className = isSelected ? 'tab active' : 'tab';
  a(href=href, class=className)
    span #{name}
